# Переменные окружения для локальной разработки.
# Скопируйте этот файл в .env и измените значения при необходимости.

# ВНИМАНИЕ: Не используйте этот ключ в продакшене!
SECRET_KEY="django-insecure-local-dev-key-change-me"

# Включает режим отладки Django. НИКОГДА не используйте True в продакшене.
DEBUG=True

# Хосты, разрешенные для локальной разработки.
ALLOWED_HOSTS=127.0.0.1,localhost

# Пользователь postgres
POSTGRES_USER=academic_user_dev

# Название базы данных postgres
POSTGRES_DB=academic_db_dev

# Пароль от пользователя postgres
POSTGRES_PASSWORD=academic_user_dev

# Порт на котором будет работать postgres
POSTGRES_PORT=5432

# Хост на котором поднят postgres (см compose.yml)
POSTGRES_HOST=postgres

# Имя пользователя админки
DJANGO_SUPERUSER_USERNAME=root

# Пароль пользователя админки
DJANGO_SUPERUSER_PASSWORD=root

# Токен от телеграм бота
TELEGRAM_BOT_TOKEN=<some token>

# Пользователь для телеграм бота
DJANGO_TELEGRAM_BOT_USERNAME=tgbot

# Пароль для пользователья телеграм бота
DJANGO_TELEGRAM_BOT_PASSWORD=tgbot

# Токен для телеграм бота
DJANGO_TELEGRAM_BOT_API_TOKEN=tgbot
