{{ DOMAIN_NAME }}, www.{{ DOMAIN_NAME }} {
    encode gzip

    @static path /static/*

    handle_path /static/* {
        root * /srv/static
        file_server
    }

    handle_path /files/* {
        reverse_proxy telegram-bot:3000
    }

    handle {
        reverse_proxy academic-api:8000
    }
}
