{{ DOMAIN_NAME }}, www.{{ DOMAIN_NAME }} {
    encode gzip

    @static path /static/*

    handle_path /static/* {
        root * /srv/static
        file_server
    }

    handle {
        reverse_proxy academic-api:8000
    }
}

{{ BOT_DOMAIN_NAME }}, www.{{ BOT_DOMAIN_NAME }} {
		reverse_proxy telegram-bot:3000
}

{{ MONITORING_DOMAIN_NAME }}, www.{{ MONITORING_DOMAIN_NAME }} {
		reverse_proxy uptime-kuma:3001
}
